h1,h2,h3,h4,h5,h6 {
    color: #0088dd;
    border-bottom: 1px solid #eee;
}


thead>tr {
    color:#dc3545;
}

.title {
    display: block;
    font-size: 3em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
    color: #ff6633;
    padding-bottom: 0.5em;
    border-bottom: 2px solid #eee;
}

strong {
    font-weight: bold;
    color: #0088dd;
}
